.glass__content {
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass__content--icon {
  animation: ripple 1s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 15%),
      0 0 0 10px rgb(255 255 255 / 15%), 0 0 0 20px rgb(255 255 255 / 15%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 15%),
      0 0 0 20px rgb(255 255 255 / 15%), 0 0 0 40px rgb(50 100 245 / 0%);
  }
}

.ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
  padding-top: 20px;
}

.ant-modal-content .ant-modal-close-x {
  color: white;
}
